



body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;
}

header li {
    flex: 1;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    justify-content: space-between;
    font-weight: bold;
}

header a{
    color: black;
    text-decoration: none;
}

header a:hover{
color: white;
background-color: black;
border-radius: 30px;
}

header li a:hover{
color: white;
background-color: black;
border-radius: 80px;
}

#logo {
    margin-right: auto;
}

.busqueda{
background-color: white;
border-radius: 0px;
}

.input-busqueda{
border-radius: 10vh;
border-color: #ccc;
padding: auto;
}



.container{
    width: 90%;
    height: 100vh;
    display: grid;
    outline: 2px solid;
    grid-template-areas: 
    "auto auto auto auto auto"
    "auto auto auto auto auto"
    "auto auto auto auto auto"
    "auto auto auto auto auto"
    "auto auto auto auto auto";
    background-color: white;
    column-gap: 1em;
    row-gap: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    

}
.item{
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0px solid;
    background-size: cover;
    background-position: center;
    color: black;
    border-radius: 10px;
}
.item1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url("/img/imagen\ 1.jpeg");
}
.item2{
    background-color: darkgreen;
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("/img/imagen\ 2.jpeg");

}
.item3{
    grid-column: 2/3;
    grid-row: 2/4;
    background-image: url("/img/imagen\ 3.jpeg");
}
.item4{
    grid-column: 1/2;
    grid-row: 3/5;
    background-image: url("/img/imagen\ 4.jpeg")
}
.item5{
    grid-column: 1/2;
    grid-row: 5/6;
    background-image: url("/img/imagen\ 5.jpeg");
}
.item6{
    grid-column: 2/3;
    grid-row: 4/6;
    background-image: url("/img/imagen\ 6.jpeg");
}
.item7{
    grid-column: 3/4;
    grid-row: 1/3;
    background-image: url("/img/imagen\ 7.jpeg");
}
.item8{
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url("/img/imagen\ 8.jpeg");
}
.item9{
    grid-column: 3/4;
    grid-row: 4/6;
    background-image: url("/img/imagen\ 9.jpeg");
}
.item10{
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url("/img/imagen\ 10.jpeg");
}
.item11{
    grid-column: 4/5;
    grid-row: 2/4;
    background-image: url("/img/imagen\ 11.jpeg");
}
.item12{
    grid-column: 4/5;
    grid-row: 4/6;
    background-image: url("/img/imagen\ 12.jpeg");
}
.item13{
    grid-column: 5/6;
    grid-row: 1/3;
    background-image: url("/img/imagen\ 13.jpeg");   
}
.item14{
    grid-column: 5/6;
    grid-row: 3/6;
    background-image: url("/img/imagen\ 14.jpeg");
}